@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
home,
body,
#root,
.app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--note-color);
}

::-webkit-scrollbar-thumb {
  background: rgb(20, 97, 217);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(20, 97, 217);
}
/* ::selection {
  background-color: rgb(20, 97, 217);
  color: #ffffff;
} */